.questionArea {
    border-radius: 5px;
    color: rgb(0, 140, 255);
    font-weight: bold;
}

.questionArea:focus {
    outline: none;
    box-shadow: none;
}

.questionArea:hover {
    cursor: context-menu;
}