
.intro {
    text-align: center;
    margin: 40px;
    border: 4px solid black;
    height: 185px;
}

.listBox {
    margin: 40px;
    border: 4px solid black;
}

h6 {
    padding-left: 20px;
}

.list {
    margin: 0 25px 40px 25px;
}

.authorsN {
    padding-top: 3px;
    margin-left: 10px;
}