.nav {
    height: 55px;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center
}

.dev {
    font-size: 30px;
    padding: 0 20px;
}

.nav-items {
    font-size: 23px;
    padding: 0 10px;
    width: 150px;
    display: flex;
    justify-content: space-between
}

.nav-link {
    text-decoration: none;
    color: black;
}